* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

main {
  background: #EEE;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(60, 64, 67, .3);
  width: 80%;
  margin: 0px auto;
  padding: 0 25px;
  text-align: justify;
}

header, section {
  margin: 10px 0;
  padding: 10px 0;
}
/* Headings */
h2 {
  color: #15abd8;
}

h4 {
  margin: 10px 0;
}

/* Header Section */
header {
  text-align: center;
}

header h2 ~ p {
  margin: 5px 0;
}

/* Objective Section */
/* section#objective {

} */

/* Educational Quailification Section */
section#edu .container {
  margin: 10px 0;
}

section#edu .container ul, section#work-experience ul, section#skills ul {
  padding-left: 35px;
}

section img {
  margin: 30px 0;
  max-width: 560px;
  width: 100%;
  height: 400px;
  display: block;
  margin: 0 auto;
}